<!-- <h1>Welcome !</h1> -->
<%- include('part/header') %>
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <style>
        #sbody img {
            max-width: 100%;
            max-height: 100vh;
        }
        
        div.a {
            color: black;
        }
        
        .auth {
            background: grey;
            padding: 5px;
            padding-right: 8px;
            padding-left: 8px;
            border-radius: 5px;
            color: rgb(94, 94, 94);
            transition: all 0.25s;
            color: white;
        }
        
        .auth:hover {
            box-shadow: 0px 0px 7px grey;
            background: white;
            color: grey;
        }
        
        .blogc {
            border: 0px;
            border-radius: 10px;
            box-shadow: 0px 0px 7px grey;
            transition: all 0.3s;
        }
        
        .blogc:hover {
            box-shadow: 0px 0px 10px black;
        }
        
        .content {
            max-height: 500px;
            overflow: hidden;
            overflow-y: scroll;
        }
        
        .logout {
            transition: all 0.2s;
            border-radius: 5px;
            border: 2px solid black;
        }
        
        .logout:hover {
            background: grey;
            border: 2px solid grey;
            color: white;
            text-decoration: bold;
            border-radius: 5px;
        }
        
        .hh {
            overflow: hidden;
            margin: 10px auto;
            width: 100%;
        }
        
        a:hover {
            color: red;
        }
        
        .btn a:hover {
            color: white;
        }
        
        .btn:hover a {
            color: white;
        }
    </style>
    <div class="container">
        <div class="jumbotron hh">
            <div class="float-left">
                <% if(name !=="logedout") {%>
                    Welcome to IIITP-BLOG,
                    <%= name %>
                        <%} else{ %>
                            IIITP - BLOG
                            <% } %>

            </div>
            <div class="float-right ">
                <% if(name !=="logedout") {%>
                    <div class="float-left ">
                        <%= username %> !
                    </div>
                    <div class="float-right ">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button type="submit" class="logout">LOG OUT</button>

                        </form>
                    </div>
                    <%} else{ %>

                        <a class="auth" href="/login"> LOG IN</a>
                        <a> || </a>
                        <a class="auth" href="/register"> Register</a>
                        <% } %>

            </div>
        </div>

        <%  for(var i=blogs.length-1;i >= 0 ;i--) { %>
            <div class=" blogc" style="margin: 50px auto;padding:20px">
                <div class="float-right">
                    <% if(username === blogs[i]["username"]) {%>
                        <div class="btn btn-warning">
                            <a href="/editblog/<%=blogs[i]['mid']%>">EDIT</a>
                        </div>
                        <% } %>
                </div>
                <h1>
                    <%= blogs[i]["title"] %>
                </h1>
                <div class="content">
                    <div>
                        By :
                        <%= blogs[i]["username"] %>

                            ,
                            <% var x= "just now" ;if( time - blogs[i].did >= 525600){ x= (parseInt((time - blogs[i].did )/ 525600))+" years ago"; } else if( time - blogs[i].did >=43200){ x= (parseInt((time - blogs[i].did )/ 43200))+" months ago" } else if( time - blogs[i].did >=10800){ x= (parseInt((time - blogs[i].did )/ 10800))+" weeks ago" }else if( time - blogs[i].did >=1440){ x= (parseInt((time - blogs[i].did )/ 1440))+" days ago" } else if( time - blogs[i].did >=60){ x= (parseInt((time - blogs[i].did )/ 60))+" hours ago" }else if( time - blogs[i].did >=0){ x= (parseInt((time - blogs[i].did )))+" min ago" }   %>
                                <%= x %>
                    </div>
                    <div style="border-left: 10px grey solid;padding-left:5px" id="sbody">
                        <%- blogs[i].sbody %>
                    </div>
                </div>

                <div class="btn btn-outline-dark">
                    <a href="/blog/<%=blogs[i]['mid']%>">READ MORE</a>
                </div>
                <!-- <h2>Comments</h2> -->
                <!-- <div>
                <%  for(var j=0;j < blogs[i]["comments"].length ;j++) { %>
                    <div style="border:solid; margin:10px 10px 10px 50px ;padding: 10px 10px; overflow-x:scroll;max-height:200px;overflow-y:scroll;">
                        <div>
                            <h4>
                                <%=blogs[i]["comments"][j]["username"]%> ,
                                    <%  x= "just now";var y=blogs[i]["comments"][j].did ;if( time - y >= 525600){ x= (parseInt((time - y )/ 525600))+" years ago"; } else if( time - y >=43200){ x= (parseInt((time - y )/ 43200))+" months ago" } else if( time - y >=10800){ x= (parseInt((time - y )/ 10800))+" weeks ago" }else if( time - y >=1440){ x= (parseInt((time - y )/ 1440))+" days ago" } else if( time - y >=60){ x= (parseInt((time - y )/ 60))+" hours ago" }else if( time - y >=0){ x= (parseInt((time - y )))+" min ago" }   %>
                                        <%= x %>
                            </h4>
                        </div>
                        <%- blogs[i]["comments"][j]["sbody"] %>
                    </div>

                    <%  }   %>
            </div> -->




                <!-- <form action="/addcomment/<%=blogs[i]['mid']%>" method="POST">
                <textarea type="text" placeholder="Comment" name="body" rows="4" cols="50" required></textarea>
                <div class="btn btn-secondary" data-toggle="popover" data-placement="top" data-trigger="hover" data-content=" press window+period(.) ">😀</div>
                <button type="submit" class="btn btn-primary"> POST</button>

            </form> -->
            </div>

            <%  }   %>

    </div>




    <%- include('part/footer') %>