<!-- <h1>Welcome !</h1> -->
<%- include('part/header') %>
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <style>

    </style>
    <div>
        <div class="jumbotron hh">
            <div class="float-left">
                <% if(name !=="logedout") {%>
                    Welcome to IIITP-BLOG,
                    <%= name %>
                        <%} else{ %>
                            Weclcome to IIITP - BLOG
                            <% } %>

            </div>

        </div>

        <%  for(var i=blogs.length-1;i >=  0;i--) { %>

            <div class=" blogc" style="margin: 50px auto;padding:20px">
                <div class="float-right" style="font-size: small;font-weight:600">
                    <%= blogs[i]["type"] %>
                </div>
                <h1>
                    <%= blogs[i]["title"] %>
                </h1>
                <div class="content">
                    <div class="byuser">
                        By :

                        <span class="username"> <%= blogs[i]["username"] %></span> ,
                        <% var x= "just now" ;if( time - blogs[i].did >= 525600){ x= (parseInt((time - blogs[i].did )/ 525600))+" years ago"; } else if( time - blogs[i].did >=43200){ x= (parseInt((time - blogs[i].did )/ 43200))+" months ago" } else if( time - blogs[i].did >=10800){ x= (parseInt((time - blogs[i].did )/ 10800))+" weeks ago" }else if( time - blogs[i].did >=1440){ x= (parseInt((time - blogs[i].did )/ 1440))+" days ago" } else if( time - blogs[i].did >=60){ x= (parseInt((time - blogs[i].did )/ 60))+" hours ago" }else if( time - blogs[i].did >=0){ x= (parseInt((time - blogs[i].did )))+" min ago" }   %>
                            <%= x %>
                    </div>
                    <div style="padding:10px;border-bottom:grey 2px solid">
                        <%- blogs[i].sbody %>
                            <div class="btn btn-outline-dark">
                                <a href="/blog/<%=blogs[i]['mid']%>">READ MORE</a>
                            </div>
                    </div>
                </div>
                <div style="padding:10px">
                    <div class="btn btn-secondary"  onclick='func("<%=blogs[i].mid%>")'>Like</div>
                    <span style="margin:0px 10px"><%=blogs[i]['vote']%></span>
                    <div class="btn btn-secondary"  onclick='func1("<%=blogs[i].mid%>")'>Dislike</div>
                </div>


                <% if(pagename=="myblogs"){%>
                    <div class="btn btn-danger" id="edit">
                        <a href="/editblog/<%=blogs[i]['mid']%>">EDIT</a>
                    </div>
                    <%}%>
            </div>

            <%  }   %>

    </div>
    <input type="text" hidden value="<%=name%>" id="supername">

    <% if(checkp) {%>
        <% if(checkm) {%>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="/<%= pagename %>/1" value="1"> First </a></li>
                <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= prev %>" value="<%= prev %>"> Prev </a></li>
                <li class="page-item">
                    <a class="page-link" href="/<%= pagename %>/<%= midp %>" value="<%= midp %>">
                        <%= midp %>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="/<%= pagename %>/<%= page %>" value="<%= page %>">
                        <%= page %>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= next %>" value="<%= next %>"> Next </a></li>
                <li class="page-item">
                    <a class="page-link" href="/<%= pagename %>/<%= mid %>" value="<%= mid %>">
                        <%= mid %>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= last %>" value="<%= last %>"> Last </a></li>
            </ul>
            <%} else { %>
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="/<%= pagename %>/1" value="1"> First </a></li>
                    <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= prev %>" value="<%= prev %>"> Prev </a></li>
                    <li class="page-item">
                        <a class="page-link" href="/<%= pagename %>/<%= midp %>" value="<%= midp %>">
                            <%= midp %>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="/<%= pagename %>/<%= page %>" value="<%= page %>">
                            <%= page %>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= next %>" value="<%= next %>"> Next </a></li>
                    <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= last %>" value="<%= last %>"> Last </a></li>
                </ul>
                <% } %>
                    <%} else { %>
                        <% if(checkm) {%>
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="/<%= pagename %>/1" value="1"> First </a></li>
                                <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= prev %>" value="<%= prev %>"> Prev </a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="/<%= pagename %>/<%= page %>" value="<%= page %>">
                                        <%= page %>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= next %>" value="<%= next %>"> Next </a></li>
                                <li class="page-item">
                                    <a class="page-link" href="/<%= pagename %>/<%= mid %>" value="<%= mid %>">
                                        <%= mid %>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= last %>" value="<%= last %>"> Last </a></li>
                            </ul>
                            <%} else { %>
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="/<%= pagename %>/1" value="1"> First </a></li>
                                    <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= prev %>" value="<%= prev %>"> Prev </a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="/<%= pagename %>/<%= page %>" value="<%= page %>">
                                            <%= page %>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= next %>" value="<%= next %>"> Next </a></li>
                                    <li class="page-item"><a class="page-link" href="/<%= pagename %>/<%= last %>" value="<%= last %>"> Last </a></li>
                                </ul>
                                <% } %>
                                    <%} %>
                                        <script>
                                            function func(x) {
                                                link = "/likeblog/" + x + "/1";
                                                $.get(link, function(data, status) {
                                                    alert(data);
                                                });

                                            }

                                            function func1(x) {
                                                link = "/likeblog/" + x + "/2";
                                                $.get(link, function(data, status) {
                                                    alert(data);
                                                });

                                            }
                                        </script>

                                        <%- include('part/footer') %>
