<!-- <h1>Welcome !</h1> -->
<%- include('part/header') %>

    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <style>

    </style>

    <div>

        <div class="hh jumbotron">
            <div class="float-left" style="font-weight:600;font-size:larger">
                <% if(name !=="logedout") {%>
                    Welcome to IIITP-BLOG,
                    <%= name %>
                        <%} else{ %>
                            IIITP - BLOG
                            <% } %>

            </div>

        </div>
        <div>

            <%  for(var i=blogs.length-1;i >= 0 ;i--) { %>
                <div class="blogc" style="margin: 50px auto;padding:20px">

                    <div class="float-right" style="font-size: small;font-weight:600">
                        <%= blogs[i]["type"] %>
                    </div>
                    <h1>
                        <%= blogs[i]["title"] %>
                    </h1>

                    <div class="byuser"> By :
                        <span class="username"> <%= blogs[i]["username"] %></span> ,
                        <% var x= "just now" ;if( time - blogs[i].did >= 525600){ x= (parseInt((time - blogs[i].did )/ 525600))+" years ago"; } else if( time - blogs[i].did >=43200){ x= (parseInt((time - blogs[i].did )/ 43200))+" months ago" } else if( time - blogs[i].did >=10800){ x= (parseInt((time - blogs[i].did )/ 10800))+" weeks ago" }else if( time - blogs[i].did >=1440){ x= (parseInt((time - blogs[i].did )/ 1440))+" days ago" } else if( time - blogs[i].did >=60){ x= (parseInt((time - blogs[i].did )/ 60))+" hours ago" }else if( time - blogs[i].did >=0){ x= (parseInt((time - blogs[i].did )))+" min ago" }   %>
                            <%= x %>
                    </div>
                    <div style="padding-left:5px" id="sbody">
                        <%- blogs[i].sbody %>
                    </div>
                    <br>
                    <div class="btn btn-outline-dark">
                        <a href="/blog/<%=blogs[i]['mid']%>">READ MORE</a>
                    </div>
                    <div class="btn btn-danger" id="edit">
                        <a href="/editblog/<%=blogs[i]['mid']%>">EDIT</a>
                    </div>

                </div>

                <%  }   %>

        </div>

    </div>

    <input type="text" hidden value="<%=name%>" id="supername">
    <%- include('part/footer') %>